body{
    background-color: rgb(25, 255, 15);
}

h1{
    color: brown;
    text-shadow: 3px 3px 4px rgb(255, 242, 0);
}
li{
    list-style: none;
}

h2{
    font-family: 'Press Start 2P', cursive;
}

a:link{
    color: rgb(255, 0, 0);
    text-decoration: none;
}

a:hover{
    color: rgb(43, 226, 128);
    text-decoration: underline;
}

img{
    top: 130px;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    left: 250px;
    width: 400px;
    height: 400px;
}
